:root {
    --bg-color: #58894c2c;
    --bg-color-2: #58894c99;
    --hover-color: #58894c7d;
    --hover-font-size: 1.2em;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
}

.calculator-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 350px;
    max-width: 90%;
    margin: 120px auto;
    border-radius: 1mm;
}

#input-container {
    padding: 10px;
}

#input-field {
    width: 100%;
    height: 10vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    text-align: right;
    font-size: 40px;
    background-color: black;
    color: white;
}

.button-container {
    display: flex;
    padding: 0 2px;
    margin-top: 5px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
}

.button-container-last {
    display: flex;
    justify-content: center;
    padding: 0 2px 2px 2px;
    width: 100%;
}

.buttons,
.special_buttons,
.number_buttons {
    width: 25%;
    height: 70px;
    border: 1px solid black;
    background-color: #282828;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 20px;
    outline: none;
}

img {
    filter: invert(100%);
}

.buttons:hover,
.special_buttons:hover,
.number_buttons:hover {
    background-color: darkgrey;
}

#clear_button {
    background-color: red;
}

#clear_button:hover {
    background-color: rgba(88, 185, 255, 0.621);
}

#backspace {
    background-color: rgb(180, 180, 4);
}

#backspace:hover {
    background-color: rgba(88, 185, 255, 0.621);
}

#equals_sign {
    background-color: orange;
}

#equals_sign:hover {
    background-color: rgba(88, 185, 255, 0.621);
}